<section class="main">
  <app-input [itemParaSerEditado]="itemParaSerEditado"> </app-input>
  <div class="container">
    <div class="lista">
      <h4 class="title-list">Lista de Compras</h4>
      <div *ngIf="listaDeCompras.length > 0; else listaDeComprasVazia">
        <div *ngFor="let item of listaDeCompras">
          <app-item
            [item]="item"
            (emitindoItemParaEditar)="editarItem($event)"
          ></app-item>
        </div>
      </div>
      <ng-template #listaDeComprasVazia>
        <small>Não há itens na lista.</small>
      </ng-template>
    </div>
  </div>
</section>
